version: '3.4'
services:

################################################
# backend container
################################################
  bento-backend:
    container_name: backend
    image: ncidockerhub.nci.nih.gov/icdc/icdc-backend:{{backend_version}}
    user: root
    environment:
      NEO4J_URL: bolt://{{ neo4j_ip }}:7687
      NEO4J_USER: "{{ neo4j_user }}"
      NEO4J_PASSWORD: "{{ neo4j_password }}"
      NEO4J_GRAPHQL_ENDPOINT: http://{{ neo4j_ip }}:7474/graphql/
      BENTO_API_VERSION: "{{backend_version}}"
      REDIS_ENABLE: "{{ enable_redis }}"
      REDIS_USE_CLUSTER: "{{ use_cluster }}"
      REDIS_HOST: "{{ redis_host[tier] }}"
      REDIS_PORT: "{{ redis_port }}"
      REDIS_FILTER_ENABLE: "{{ enable_redis_filter }}"
      NEW_RELIC_LICENSE_KEY: "{{ newrelic_license_key }}"
      NEW_RELIC_APP_NAME: "{{ app_name }}-backend"
      NEW_RELIC_DISTRIBUTED_TRACING_ENABLED: "true"
      NEW_RELIC_HOST: "gov-collector.newrelic.com"
      NEW_RELIC_LOG_FILE_NAME: "STDOUT"
      ES_HOST: "{{es_host}}"
      NEW_RELIC_LABELS: "Project:{{ project }};Environment:{{ tier }}"
      JAVA_OPTS: "-javaagent:/usr/local/tomcat/newrelic/newrelic.jar"
    entrypoint: ["/bin/sh", "-c", 'wget "https://download.newrelic.com/newrelic/java-agent/newrelic-agent/current/newrelic-java.zip" -O newrelic-java.zip && rm -rf newrelic && unzip -o newrelic-java.zip && bin/catalina.sh run']
    volumes:
      - /local/content/k9dc/logs:/usr/local/tomcat/logs
    ports:
      - "8080:8080"
    restart: always

##########################################################
# frontend container
##########################################################

  bento-frontend:
    container_name: frontend
    image: ncidockerhub.nci.nih.gov/icdc/icdc-frontend:{{frontend_version}}
    environment:
      REACT_APP_BACKEND_API: "{% if tier == 'prod' %}https://caninecommons.cancer.gov/v1/graphql/{% else %}https://caninecommons-{{ tier }}.cancer.gov/v1/graphql/{% endif %}"
      REACT_APP_FOOTER_PRIVACY_POLICY: "https://raw.githubusercontent.com/CBIIT/icdc-readMe-content/{{ tier }}/Privacy_Policy.md"
      REACT_APP_BACKEND_GETUSERINFO_API: "{{ backend_user_info }}"
      REACT_APP_FILE_SERVICE_API: "{% if tier == 'prod' %}https://caninecommons.cancer.gov/api/files/{% else %}https://caninecommons-{{ tier }}.cancer.gov/api/files/{% endif %}"
      REACT_APP_INTEROP_SERVICE_URL: "{% if tier == 'prod' %}https://caninecommons.cancer.gov/api/interoperation/graphql{% else %}https://caninecommons-{{ tier }}.cancer.gov/api/interoperation/graphql{% endif %}"
      REACT_APP_LOGIN_URL: "{{ backend_fence_login }}"
      REACT_APP_USER_LOGOUT_URL: "{{ backend_fence_logout }}"
      REACT_APP_ABOUT_CONTENT_URL: "{{ react_app_about_data[tier] }}"
      REACT_APP_LANDING_DATA: "{% if tier == 'prod' %}https://raw.githubusercontent.com/CBIIT/bento-icdc-static-content/production/landingView.yaml{% elif tier == 'dev' %}https://raw.githubusercontent.com/CBIIT/bento-icdc-static-content/develop/landingView.yaml{% else %}https://raw.githubusercontent.com/CBIIT/bento-icdc-static-content/{{tier}}/landingView.yaml{% endif %}"
      REACT_APP_NEWS_DATA: "{% if tier == 'prod' %}https://raw.githubusercontent.com/CBIIT/bento-icdc-static-content/production/newsView.yaml{% elif tier == 'dev' %}https://raw.githubusercontent.com/CBIIT/bento-icdc-static-content/develop/newsView.yaml{% else %}https://raw.githubusercontent.com/CBIIT/bento-icdc-static-content/{{tier}}/newsView.yaml{% endif %}"
      #REACT_APP_DMN_README: "{{ react_app_readme_url[tier] }}"
      REACT_APP_DMN_README: "https://raw.githubusercontent.com/CBIIT/icdc-readMe-content/{{ tier }}/Data_Model_Navigator_README.md"
      REACT_APP_DATA_MODEL: "{% if tier == 'prod' %}https://raw.githubusercontent.com/CBIIT/icdc-model-tool/{{data_model_branch | default('master')}}/model-desc/icdc-model.yml{% else %}https://raw.githubusercontent.com/CBIIT/icdc-model-tool/{{data_model_branch | default('develop')}}/model-desc/icdc-model.yml{% endif %}"
      REACT_APP_DATA_MODEL_PROPS: "{% if tier == 'prod' %}https://raw.githubusercontent.com/CBIIT/icdc-model-tool/{{data_model_branch | default('master')}}/model-desc/icdc-model-props.yml{% else %}https://raw.githubusercontent.com/CBIIT/icdc-model-tool/{{data_model_branch | default('develop')}}/model-desc/icdc-model-props.yml{% endif %}"
      NEW_RELIC_LICENSE_KEY: "{{ newrelic_license_key }}"
      NEW_RELIC_APP_NAME: "{{ app_name }}-frontend"
      NEW_RELIC_DISTRIBUTED_TRACING_ENABLED: "true"
      NEW_RELIC_HOST: "gov-collector.newrelic.com"
      NEW_RELIC_NO_CONFIG_FILE: "true"
      NEW_RELIC_LABELS: "Project:{{ project }};Environment:{{ tier }}"
      REACT_APP_BE_VERSION: "{{ bento_api_version }}"
      REACT_APP_FE_VERSION: "{{ backend_frontend_version }}"
      REACT_APP_GA_TRACKING_ID: "{{ backend_google_analytics_id }}"
      REACT_APP_FILE_CENTRIC_CART_README: "https://raw.githubusercontent.com/CBIIT/icdc-readMe-content/{{ tier }}/My_Files_Cart_Page_README.md"
    volumes:
      - "/local/content/k9dc/nginx:/var/log/nginx"
    ports:
      - "80:80"
    restart: always
    #links:
    # - "data-dictionary:dictionary"

##########################################################
# files container
##########################################################   

  bento-files:
    container_name: files
    image: ncidockerhub.nci.nih.gov/icdc/icdc-files:{{files_version}}
    environment:
      NEO4J_URI: "bolt://{{ neo4j_ip }}:7687"  
      NEO4J_USER: "{{ neo4j_user }}"
      NEO4J_PASSWORD: "{{ neo4j_password }}"
      VERSION: "{{ files_version }}"
      PROJECT: "{{ project_name }}"
      CF_URL: "https://{{ cloudfront_domain_name }}"
      CF_PRIVATE_KEY: "{{ cloudfront_private_key }}"
      CF_KEY_PAIR_ID: "{{ CF_key_pair_id }}"
      URL_SRC: "{{ url_src }}"
      INDEXD_URL: "{{ indexd_url }}"
      AUTH_ENABLED: "{{ auth_enabled }}"
      AUTH_URL: "{% if tier == 'prod' %}https://caninecommons.cancer.gov/api/auth/authenticated{% else %}https://caninecommons-{{ tier }}.cancer.gov/api/auth/authenticated{% endif %}"
      BACKEND_URL: "{% if tier == 'prod' %}https://caninecommons.cancer.gov/v1/graphql/{% else %}https://caninecommons-{{ tier }}.cancer.gov/v1/graphql/{% endif %}"
      NEW_RELIC_LICENSE_KEY: "{{ newrelic_license_key }}"
      NEW_RELIC_APP_NAME: "{{ project_name }}-{{ tier }}-files-{{ ansible_hostname }}"
      DATE: "{{ date }}"
    ports:
      - "8081:8081"
    restart: always
    #links:
    # - "data-dictionary:dictionary"

##########################################################
# interoperation container
##########################################################   

  bento-interoperation:
    container_name: interoperation
    image: ncidockerhub.nci.nih.gov/icdc/icdc-interoperation:{{ interoperation_version }}
    environment:
      VERSION: "{{ interoperation_version }}"
      PROJECT: "{{ project_name }}"
      BENTO_BACKEND_GRAPHQL_URI: "{% if tier == 'prod' %}https://caninecommons.cancer.gov/v1/graphql/{% else %}https://caninecommons-{{ tier }}.cancer.gov/v1/graphql/{% endif %}"
      NEW_RELIC_LICENSE_KEY: "{{ newrelic_license_key }}"
      NEW_RELIC_APP_NAME: "{{ project_name }}-{{ tier }}-interoperation-{{ ansible_hostname }}"
      REDIS_ENABLE: "{{ enable_redis }}"
      REDIS_USE_CLUSTER: "{{ use_cluster }}"
      REDIS_HOST: "{{ redis_host }}"
      REDIS_PORT: "{{ redis_port }}"
      REDIS_FILTER_ENABLE: "false"
      S3_ACCESS_KEY_ID: "{{ s3_access_key_id }}"
      S3_SECRET_ACCESS_KEY: "{{ s3_secret_access_key }}"
      FILE_MANIFEST_BUCKET_NAME: "{{ file_manifest_bucket_name }}"
      CLOUDFRONT_KEY_PAIR_ID: "{{ cloudfront_key_pair_id }}"
      CLOUDFRONT_PRIVATE_KEY: "{{ cloudfront_private_key }}"
      CLOUDFRONT_DOMAIN: "https://{{ cloudfront_domain }}"
      SIGNED_URL_EXPIRY_SECONDS: "86400" 
      AWS_REGION: us-east-1
      DATE: "{{ date }}"
    ports:
      - "4030:4030"
    restart: always
    #links:
    # - "data-dictionary:dictionary"

  #data-dictionary:
  #  container_name: data-dictionary
  #  image: ncidockerhub.nci.nih.gov/icdc/data-dictionary:changedBaseRoute-28
  #  environment:
  #    REACT_APP_MODEL_URL: "{{react_app_model_url}}"
  #    REACT_APP_MODEL_PROPS_URL: "{{react_app_model_props_url}}"
  #  volumes:
  #    - "/local/content/k9dc/data-dictionary:/var/log/nginx"
  #  ports:
  #    - "81:81"
  #  restart: always
